In [2]:
import pandas as pd

# 파일 경로를 지정합니다.
file_path = r'C:\Users\dlwlg\OneDrive\Desktop\project\practice\Data\서울특별시 공공자전거 대여이력 정보_2405.csv'

# CSV 파일을 데이터프레임으로 불러옵니다.
df = pd.read_csv(file_path, encoding='cp949')

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4947830 entries, 0 to 4947829
Data columns (total 17 columns):
 #   Column    Dtype
---  ------    -----
 0   자전거번호     object
 1   대여일시      object
 2   대여 대여소번호  int64
 3   대여 대여소명   object
 4   대여거치대     int64
 5   반납일시      object
 6   반납대여소번호   object
 7   반납대여소명    object
 8   반납거치대     object
 9   이용시간(분)   int64
 10  이용거리(M)   float64
 11  생년        object
 12  성별        object
 13  이용자종류     object
 14  대여대여소ID   object
 15  반납대여소ID   object
 16  자전거구분     object
dtypes: float64(1), int64(3), object(13)
memory usage: 641.7+ MB

In [3]:
df.head()

,자전거번호,대여일시,대여 대여소번호,대여 대여소명,대여거치대,반납일시,반납대여소번호,반납대여소명,반납거치대,이용시간(분),이용거리(M),생년,성별,이용자종류,대여대여소ID,반납대여소ID,자전거구분
0,SPB-84535,2024-05-01 00:00:16,540,군자역 7번출구 베스트샵 앞,99,2024-05-01 00:00:31,00540,군자역 7번출구 베스트샵 앞,99,0,0.00,1997,F,내국인,ST-253,ST-253,새싹자전거
1,SPB-30613,2024-05-01 00:00:33,540,군자역 7번출구 베스트샵 앞,0,2024-05-01 00:00:43,00540,군자역 7번출구 베스트샵 앞,0,0,0.00,1997,M,내국인,ST-253,ST-253,일반자전거
2,SPB-36047,2024-05-01 00:00:40,2644,성내5교,0,2024-05-01 00:01:09,02644,성내5교,0,0,0.00,1962,\N,내국인,ST-1796,ST-1796,일반자전거
3,SPB-38596,2024-05-01 00:00:22,1480,용마지구대 B,0,2024-05-01 00:01:26,01479,면목 홈플러스 2,0,1,176.24,1989,\N,내국인,ST-2301,ST-2300,일반자전거
4,SPB-66912,2024-05-01 00:01:08,4332,이수교차로,0,2024-05-01 00:01:30,04332,이수교차로,0,0,0.00,\N,F,내국인,ST-3086,ST-3086,일반자전거

In [9]:
# 대여, 반납 위치가 같은 데이터 추출(대여소명으로)
# 492997
same_station_df = df[df['대여 대여소명'] == df['반납대여소명']]
same_station_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 492997 entries, 0 to 4947806
Data columns (total 17 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   자전거번호     492997 non-null  object
 1   대여일시      492997 non-null  object
 2   대여 대여소번호  492997 non-null  int64
 3   대여 대여소명   492997 non-null  object
 4   대여거치대     492997 non-null  int64
 5   반납일시      492997 non-null  object
 6   반납대여소번호   492997 non-null  object
 7   반납대여소명    492997 non-null  object
 8   반납거치대     492997 non-null  object
 9   이용시간(분)   492997 non-null  int64
 10  이용거리(M)   492997 non-null  float64
 11  생년        492997 non-null  object
 12  성별        480575 non-null  object
 13  이용자종류     492997 non-null  object
 14  대여대여소ID   492997 non-null  object
 15  반납대여소ID   492997 non-null  object
 16  자전거구분     492997 non-null  object
dtypes: float64(1), int64(3), object(13)
memory usage: 67.7+ MB

In [12]:
# 대여, 반납 위치가 같은 데이터 추출(ID로)
# 492997

same_station_df = df[df['대여대여소ID'] == df['반납대여소ID']]
same_station_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 492997 entries, 0 to 4947806
Data columns (total 17 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   자전거번호     492997 non-null  object
 1   대여일시      492997 non-null  object
 2   대여 대여소번호  492997 non-null  int64
 3   대여 대여소명   492997 non-null  object
 4   대여거치대     492997 non-null  int64
 5   반납일시      492997 non-null  object
 6   반납대여소번호   492997 non-null  object
 7   반납대여소명    492997 non-null  object
 8   반납거치대     492997 non-null  object
 9   이용시간(분)   492997 non-null  int64
 10  이용거리(M)   492997 non-null  float64
 11  생년        492997 non-null  object
 12  성별        480575 non-null  object
 13  이용자종류     492997 non-null  object
 14  대여대여소ID   492997 non-null  object
 15  반납대여소ID   492997 non-null  object
 16  자전거구분     492997 non-null  object
dtypes: float64(1), int64(3), object(13)
memory usage: 67.7+ MB

In [13]:
# 자전거 번호, 대여소 거치대, 반납 거치대, 이용자 종류, 대여 대여소ID, 반납 대여소ID, 대여 대여소번호, 반납대여소번호